*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}


header, #header-img{

    background-color: transparent;
}

.blocco{
    border:solid;
    margin:10px;
    border-radius: 10px;
    padding:20px;
}

.flex-container{
    background-color: peachpuff;
    display: flex;
    flex-direction:row;
    width:80%;
    margin:10px auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:20px;
    border-radius: 10px;
}

a{
    font-size:26px;
}

#header-img{
    max-width: 300px;
}


#main-doc{
    margin:auto;
    align-self: center;
    width: 80%;
    /*background-color: grey;*/
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    padding:20px;
    background: rgb(63,94,251);
    background: linear-gradient(167deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

}

@media only screen and (max-width: 678px) {
    #main-doc{
        background-color: darkgray;
    }
    #video{
        width:300px; 
    }
  }